<!DOCTYPE html>
<!-- django needs this to get static files on html pages -->
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap CDN here. -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- jquery here -->
  <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

  <!-- Medium style editor (nice editor for blogs) -->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  
  <!-- Custom css -->
  <link rel="stylesheet" href="{% static 'css/consumed.css'%}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

  

  <title>Fuzzy Drink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>


<body>
  <div class="container">
      
    <!-- Navbar -->
    <nav class="navbar navbar-default techfont">
            <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'drinks' %}">Drinks</a></li>
                        <li><a href="{% url 'drink_create' %}">Create</a></li>
                    </ul>
        
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a>User: {{ user.get_username }}</a></li>
                            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login'%}?next={{request.path}}"><span class='glyphicon glyphicon-user'></span></a></li>
                        {% endif %} 
                    
                </ul>
        
            </div>
        </nav>

    {% block content %}
    {% endblock content %}

    
    {% include 'pagination.html' %}




  </div>
  
    
</body>
</html>
