  {% load staticfiles %}

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo.png' %}" height=30 width=30 class="d-inline-block align-top"/>
      Fuzzy Drink
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item nav-link">User: {{ user.get_username }}</li>
            <li><a class="nav-item nav-link"href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
            <li><a class="nav-item nav-link"href="{% url 'signup'%}?next={{request.path}}">Sign Up</a></li>
            <li><a class="nav-item nav-link"href="{% url 'login'%}">Login</a></li>
        {% endif %} 
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
          
        
        </ul>
    </div>
  </nav>
