<nav class="navbar navbar-default techfont">
    <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'drinks' %}">Drinks</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>JunkUser: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %} 
                
            </ul>
                

    </div>
</nav>